@model IEnumerable<WebApplication1.Models.PessoaModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeFilhos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.AlterarStatus)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeFilhos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            
             <td class="form-switch">
                @Html.DisplayFor(modelItem => item.Situacao)
            </td>
            @*<td class="form-switch">
                <input class="form-check-input p-0 mx-auto" type="checkbox" role="switch" id="flexSwitchCheckChecked"  asp-action="AlterarStatus" checked >
                @Html.DisplayFor(modelItem => item.AlterarStatus)
            </td>*@
            <td>
                @*<a asp-for="Ativacao" asp-action="Activate(this)" class="form-check form-switch d-inline-flex"></a>*@

                <a asp-action="AlterarStatus" asp-route-id="@item.Codigo">Alterar Status</a> | 
                
                @if (item.Situacao.Equals("Inativo"))
                {
                    <spam>Edit</spam> 
                }
                else 
                {
                    <a asp-action="Edit" asp-route-id="@item.Codigo">Edit</a> 
                }
                |

                
                <a asp-action="Details" asp-route-id="@item.Codigo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Codigo">Delete</a> 
        
            </td>
        </tr>
}
    </tbody>
</table>
